<!DOCTYPE html>
<html>
​
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/budgetapp.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/AJAX/libs/handlebars.js/4.0.0/handlebars.js"></script>
</head>
​
<body>
<div class="container">

        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel title-card">
                    <h3 class="title-text" style="text-align: center">TIARE BUDGET APP</h3>
                    <p>
                      <img src="/views/images/tiareflower1.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                    </p>
                </div>
            </div>
        </div>
</div>

<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/views/images/tiareflower1.webp" width="30" height="30" class="d-inline-block align-top" alt="">
    TIARE BUDGET APP
  </a>
</nav>

  {{{body}}}


</body>

​
</html>
