<div id="container">
      <div id="header">
        <div id="logoContainer">
          <img
            src="https://static.fusioncharts.com/sampledata/images/Logo-HM-72x72.png"
            alt="Logo"
          />
          <div>
            <h2>Tiare</h2>

            <h4></h4>
            <p>Today: 11th July, 2019</p>
          </div>
        </div>
        <div id="userDetail">
          <img
            src="https://static.fusioncharts.com/sampledata/images/user_image.jpg"
            alt="Logo"
          />
          <div>
            <p>Welcome John</p>
            <p>Store Manager</p>
          </div>
        </div>
        <div></div>
      </div>
      <div class="border-bottom" id="content">
        <div class="border-bottom">
          <div class="chartCont border-right" id="chart-container">
            FusionCharts will load here.
          </div>
          <div class="chartCont" id="chart-container2">
            FusionCharts will load here.
          </div>
        </div>
        <div>
          <div class="chartCont border-right" id="chart-container3">
            FusionCharts will load here.
          </div>
          <div class="chartCont" id="chart-container4">
            FusionCharts will load here.
          </div>
        </div>
      </div>
      <div id="footer">
        <p>
          This application was built using
          <a
            href="http://www.fusioncharts.com"
            target="_blank"
            title="FusionCharts - Data to delight... in minutes"
            ><b>FusionCharts Suite XT</b></a
          >
        </p>
      </div>
    </div>




















{{!-- <div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div> --}}
