<div class="container">
  <div class="row">
    <div class="col-0 col-sm-0 col-md-3 col-lg-3"></div>
    <div class="form-con col-12 col-sm-12 col-md-6 col-lg-6">
      <form id="login-form" action="/login" method="post">
        <div class="input-con"> 
          <h3 class="underline">Login</h3>
          <div class="form-group">
            <label for="Username">Username</label>
            <input name="username" class="form-control" id="user_name" placeholder="SaveDaMoney">
          </div>
          <div class="pw form-group">
            <label for="Password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="ShinyDimes!">
          </div>
          <div id="cat-div" class="cat-val form-group form-row col-6 col-sm-6 col-md-6 col-lg-6">
            <h6>Budget Categories</h6>
          </div>
          <div id="val-div" class="cat-val form-group form-row col-6 col-sm-6 col-md-6 col-lg-6">
            <h6>Funds Allocated</h6>
          </div>
        </div>
        <button type="submit" id="new-acc-btn" class="btn btn-warning">Create Account</button>
        <button type="submit" id="login" class="btn btn-dark">Login</button>
        {{!-- <button type="submit" id="new-row" class="btn btn-success">+</button> --}}
      </form>
    </div>
    <div class="col-0 col-sm-0 col-md-3 col-lg-3"></div>
  </div>



</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>






<!-- Budget Information -->
      {{!-- <div class="row my-4">
      <div class="col-3 text-center mb-2">
        <h6 class="text-uppercase info-title">user</h6>
        <span class="id-icon"><i class="fas fa-id-card"></i></span>
        <h4 class="text-uppercase mt-2 user" id="userName"><span></span><span></span></h4>
       </div>
       <div class="col-3 text-center">
        <h6 class="text-uppercase info-title">budget</h6>
        <span class="budget-icon"><i class="fas fa-money-bill-alt"></i></span>
        <h4 class="text-uppercase mt-2 budget" id="budget"><span>$ </span><span id="budget-amount">0</span></h4>
       </div>
       <div class="col-3 text-center">
        <h6 class="text-uppercase info-title">expenses</h6>
        <span class="expense-icon"><i class="fas fa-credit-card"></i></span>
        <h4 class="text-uppercase mt-2 expense" id="totalExpenditure"><span>$ </span><span id="expense-amount">0</span></h4>
       </div>
       <div class="col-3 text-center">
        <h6 class="text-uppercase info-title">balance</h6>
        <span class="balance-icon"><i class="fas fa-dollar-sign"></i></span>
        <h4 class="text-uppercase mt-2 balance" id="balance"> <span>$ </span><span id="balance-amount">0</span></h4>
       </div>
      </div>
     </div>
    </div> --}}

     <!-- reference your copy Font Awesome here (from our CDN or by hosting yourself) -->
  <!-- <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet"> -->
 <!-- <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet"> -->
 <!-- <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet"> -->


 

